.airportLine {
    display: flex;
    border-radius: 20px;
    border: 1px solid #D2D2D2;
    padding: 20px;
    margin-bottom: 10px;

    .airportLine-title {
        display: flex;
        flex-direction: column;
    }

    .airportLine-info {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}